 
        body{
            background-color: blue;
        }
        h4{
            color:goldenrod
        }
        div{
            background-color:cornflowerblue;
            border-color:black;
            border-radius: 5px;
        }

        
        .shadow-text{
            text-shadow: gray 1px 1px;
        } 

        #large-paragraph{
            font-size: 30px;
        }

        #example{
            color:gray;
            background-color: blue;
            border: dotted;
            border-width: 3px;
            border-color:red;
            border-radius: 5px;
            height: 200px;
            text-align: center;
        }

        img{
            float:right
        }

        .hov{
            height: 100px;
            width: 100px;
            background-color: cornflowerblue;
        }

        .hov:hover{
            background-color: red;
        }

        .every-even li:nth-child(even) {
            background-color: pink;
        }