 
        body{
            background-color: blue;
        }
        h4{
            color:goldenrod
        }
        div{
            background-color:cornflowerblue;
            border-color:black;
            border-radius: 5px;
        }

        /*dots refer to classes within the html doc*/
        .shadow-text{
            text-shadow: gray 1px 1px;
        } 
        /*hashtags refer to ids from your html*/
        #large-paragraph{
            font-size: 30px;
        }

        #example{
            color:gray;
            background-color: blue;
            border: dotted;
            border-width: 3px;
            border-color:red;
            border-radius: 5px;
            text-align: center;
        }

        img{
            float:right
        }

        /*figure out how to center the hov box within the example notes box*/
        .hov{
            height: 100px;
            width: 100px;
            background-color: cornflowerblue;
        }

        .hov:hover{
            background-color: red;
        }

        .every-even li:nth-child(even) {
            background-color: pink;
        }

        table{
            border-collapse: collapse;
            width: 50%;
        }

        th,td{
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid black;
        }

        tr:nth-child(even){
            background-color: rgb(132, 209, 150);
        }

        tr:hover{
            background-color: pink;
        }

        #box-model{
            padding: 20px;
            border-style: solid;
            border-width: 3px;
            margin: 30px;
            background-color: cornflowerblue;
        }