 
        body{
            background-color: blue;
        }
        h4{
            color:goldenrod
        }
        div{
            background-color:cornflowerblue;
            border-color:black;
            border-radius: 5px;
        }

        
        .shadow-text{
            text-shadow: gray 1px 1px;
        } 

        #large-paragraph{
            font-size: 30px;
        }